{% extends 'newsportal/default.html' %}
{% load custom_filters %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1>Авторы</h1>
<h5>Лучший автор: {{ best }}!</h5>
<hr>
{% for author in authors %}
<h3>{{ author }}</h3>
<p>Рейтинг {{ author.rating }}</p>
{% if author.post_set.all %}
<h4>Посты</h4>
{% for post in  author.post_set.all %}
<p><a href="{% url 'showpost' post.pk %}">{{ post.title|censor }}</a></p>
{% endfor %}
{% else %}
<h4>Постов нет</h4>
{% endif %}

<hr>
{% endfor %}

{% endblock %}