{% extends 'newsportal/default.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load custom_filters %}
{% block content %}
<h1>Все посты</h1>
<hr>
<hr>
<hr>
<h5>Лучший пост:  {{ best_post }}!</h5>
<p>Дата создания: {{best_post.time_created|date:'Y-m-d'}}, автор - {{best_post.author}},
 рейтинг {{best_post.rating}}, заголовок - {{best_post.title|censor}}</p>
<p><b>Preveiw: </b>{{best_post.preview|censor}}</p>

{% if best_post.comment_set.all %}
<h5>Комментарии</h5>
{% for comment in best_post.comment_set.all %}
<p>Комментарий {{ forloop.counter }}: Дата: {{ comment.date_created|date:'Y-m-d' }}, рейтинг {{comment.rating}},
 содержание: {{ comment.content|censor }}</p>
{% endfor %}

{% else %}
<h5>Комментариев нет</h5>

{% endif %}
<hr>
<hr>
<hr>
{% for post in posts %}
<a href="{% url 'showpost' post.pk %}"><h3>{{ post.title }}</h3></a>

Author - {{ post.author }}<br>
{{ post.get_type_post_display }}<br>
{% if post.category.all %}
Категории - {% for cat in post.category.all %}
{{ cat }}    {% if not forloop.last %}, {% endif %}
{% endfor %}
{% else %} Категория не определена
{% endif %}
<br>
Рейтинг  {{ post.rating }}<br>
{% if  post.comment_set.all %}
Комментарии - {% for comment in post.comment_set.all %}
{{ comment.user }} - {{ comment.content }} | рейтинг  {{ comment.rating }}<br>
{% endfor %}
{% else %} Комментариев нет
{% endif %}
<br>
<hr>
{% endfor %}
{% endblock content %}